<h1><%= link_to "DBCBB", root_path %></h1>
<nav>
<ul>
  <li><%= link_to "Recent", conversations_recent_path %></li>
  <% if logged_in? %>
    <li>
      <% if current_user.profile_image %>
      <%= image_tag current_user.profile_image %>
      <% elsif current_user.avatar %>
      <%= image_tag current_user.avatar.url %>
      <% end %>
      <%= current_user_name %>
    </li>
    <li><%= link_to "Logout", logout_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Login", login_path %>
    <li><%= link_to "Sign Up", new_user_path %>
  <% end %>
</ul>
<nav>
