<!DOCTYPE html>
<html>
<head>
  <title>RBulletin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'Home', '/' %> |
  <% if current_user %>
    Signed in as <%= current_user.username %> |
    <%= link_to 'My Profile', '/profile'%> |
    <%= link_to "Logout", '/logout' %>
  <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
  <% end %>

<%= yield %>

</body>
</html>
